{% extends 'base.' ~ theme ~ '.html.twig' %}

{% block feedTwoPic %}

{% endblock %}

{# This is built for the Kunst theme, but I'm gunna fix it. Later. #}
{% block navbar %}
    <nav class="container navbar">
        {% if app.user %}
            <a class="link-text logo-nav-link" href="{{ path('profile') }}">
                {{ app.user.getUsername }}<br />Profile
            </a>
        <a class="link-text logo-nav-link" href="{{ path('feed-follow',{'usercode':userCode}) }}">
            Follow Me<br />{{ userCode }}
            </a>
            {% else %}
                < span class="link-text logo-nav-link">Search for me in your FedImg at {{ usercode }}</span>
        {% endif %}
    </nav>
{% endblock %}

{# This is built for the Kunst theme, but I'm gunna fix it. Later. #}
{% block feed %}
    <section class="container projects-section" id="projects">
        {% for row in feed|batch(2, null) %}
            <div class="container sd-two-cols two-column-pictures">
                {% for pic in row %}
                    {% if pic %}
                        {% if pic.isPublic %}
                            <div class="container container-center-picture">
                                <div class="responsive-picture picture-project">
                                    <picture>
                                        <img alt="Placeholder Picture"
                                            width="1920"
                                            height="1280"
                                            src="{{ vich_uploader_asset(pic) }}"
                                            loading="lazy" />
                                    </picture>
                                </div>
                                <h3 class="heading-3">
                                    {{ pic.getTitle }}
                                </h3>
                            </div>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </div>
        {% endfor %}
    </section>
{% endblock %}
