<div class="container menu-mobile-navigation">
    <a class="glyph menu-icon" href="#">
        <i class="coffeecup-icons-menu3"></i>
    </a>
</div>
<div class="container menu-items-wrapper">
    <a class="link-text coffeecup-home" href="{{ path('profile') }}">My Feed</a>
    <details>
        <summary>
            <span class="text-element menu-item-summary"
                data-page-name="index.html">
                Friends <span class="line-vertical-plus">
                    -
                </span><span class="line-horizontal-plus">-</span>
            </span>
        </summary>
        <ul class="link-list menu-item-details">
            {% for f in friendslist %}
                <li class="list-item-link menu-item-link active">
                    <a href="{{
                        path(
                            'profile_friend',
                            {
                                friendcode: f
                            }
                        )
                        }}">
                        {{ f }}
                    </a>{# I plan on being able to view an individual feed #}
                </li>
            {% endfor %}
        </ul>
    </details>
    <details>
        <summary>
            <span class="text-element menu-item-summary"
                data-page-name="your-canvas.html">
                My Profile <span class="line-vertical-plus">
                    -
                </span><span class="line-horizontal-plus">-</span>
            </span>
        </summary>
        <ul class="link-list menu-item-details">
            <li class="list-item-link menu-item-link active">
                <a href="{{ path('upload') }}">Upload a Photo</a>
                <a href="{{ path('profile_feed') }}">My Personal Photo Feed</a>
                <a href="{{ path('profile_settings') }}">My Profile Settings</a>
                <a href="{{ path('app_logout') }}">LogOut</a>
            </li>
        </ul>
    </details>

    {% if is_granted('ROLE_ADMIN') %}
    <details>
        <summary>
            <span class="text-element menu-item-summary"
                data-page-name="your-canvas.html">
                Admin <span class="line-vertical-plus">
                    -
                </span><span class="line-horizontal-plus">-</span>
            </span>
        </summary>
        <ul class="link-list menu-item-details">
            <li class="list-item-link menu-item-link active">
                <a href="{{ path('app_admin') }}">Site Settings</a>
                <a href="{{ path('app_admin_user') }}">User Settings</a>
            </li>
        </ul>
    </details>
        {% endif %}
    </div>
